@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.chat-box{
    background: #fff;
    border-radius: 15px;
}

.chat-body {
  height: calc(450px - (45px + 70px));
  position: relative;
}
.chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.message-meta p{
    margin-left: 5px;
}

.chat-footer {
  height: 40px;
  border-top: none;
  display: flex;
}

.chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;  
  outline: none;
  font-family: "Open Sans", sans-serif;
}

#chatFooterButton {
  border: 0;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  width: 15vw;
  background: lightgray;
  outline: none;
  font-size: 25px;
  color: #43a047;
}

#chatFooterButton:hover {
  background: #43a047;
  color: lightgray;
}
.hide {
  opacity: 0 !important;
}