.container {
    
    position: relative;
}

.profilePic {
    width: 400px;
    height: 300px;  
    border: 1px solid red;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.name {
    width: 500px;
    height: 100px;  
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 2%;
}
.user {
    width: 500px;
    height: 200px;  
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 2%;
}
.edit {
    background-color: #DB4437;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
}
.logout-btn {
    background-color: #DB4437;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
}
.logout {
    margin-top: 2%;
    text-align: center;
    
}
