a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.headButtons {
    display: flex;
    margin-top: 1%;


}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
.row2 {
    margin-left: 50px;
    margin-right: 50px;
}

