#page-container {
    position: relative;
    min-height: 20vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */
    background-color: #4285F4;
  } 
  .btn1 {
    margin-left: 50%;
  }
  .btn2 {
    margin-left: 50%;
  }